body{
	font-size: 16px;
	min-width: 880px;
}
*{
	margin: 0px;
	padding:0px;
}
a{
	color: #666;
	text-decoration: none;
}
a:hover{
	color: #d02d00; 
}
li a{
	color:black;
}
ul{
	list-style: none;
}

/*navigator section*/

#header{
	margin:30px auto;
	
	width: 1190px;
	background-color: #ebebeb;
}
#header p{
	background: url("../images/logo.gif") left top no-repeat ;
	height: 60px;
	display: flex;
	align-items: center;
}
#header p>input{
	height: 30px;
}
#header input[type="search"]{
	margin-left: 180px;
	width: 250px;
	border: 1px solid #d02d00;
}
#header input[type="button"]{
	width: 50px;
	height: 30px;
	line-height: 30px;
	border: none;
	background-color: #d02d00;
	color: white;
}
.navigator{
	height: 1.8em;
	line-height: 1.8em;
	font-size: 1.3em;
}
.navigator li{
	display: inline-block;
	position: relative;
	z-index: 2
}
.navigator li a{

	margin-right: 3em;
	transition:color 0.4s ease;
}
.navigator .subitem{
	display: none;
	width: 311px;
	height: 200px;
	border: 1px solid #999;
	background-color: #eee;
	position: absolute;
	left: 0px;
}
.subitem  dt{
	float: left;
	padding-right: 13px;
	width: 50px;
	font-weight: bold;
}
.subitem dd{
	float: left;
	margin-left: 8px;
	width: 240px;
}
.subitem dd em{
	float: left;
	width: 60px;
}

/*left column : 商品分类栏*/
.wrapper{
	width: 1190px;
	margin: 0 auto;
	text-align:left;
}
.content {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.content .primary{
	width: 855px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	overflow: hidden;
}
.content>.secondary{
	width: 305px;
	float: left;
	display: inline;
	border:1px solid #d02d00;
	padding-left: 10px;
}
.content .secondary h3{
	background-color: #d02d00;
	color: white;
	padding-left: 10px;
	margin-left: -10px;
	margin-top: 0px;
	line-height: 2em;

}
.content .secondary p{
	font-weight: bold;
}
.content .secondary ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0px;
	
}
.content>.secondary li{
	width: 4em;
	height: 1.2em;
	margin: 8px 10px 8px 0px;
}
footer{
	text-align: center;
	margin-top: 25px;
	font-size: 0.6em;
}