body{
	font-size: 16px;
	min-width: 880px;
}
*{
	margin: 0px;
	padding:0px;
}
a{
	color: #666;
	text-decoration: none;
}
a:hover{
	color: #d02d00; 
}
li a{
	color:black;
}
ul{
	list-style: none;
}

/*navigator section*/

#header{
	margin:30px auto;
	
	width: 1190px;
	background-color: #ebebeb;
}
#header p{
	background: url("../images/logo.gif") left top no-repeat ;
	height: 60px;
	display: flex;
	align-items: center;
}
#header p>input{
	height: 30px;
}
#header input[type="search"]{
	margin-left: 180px;
	width: 250px;
	border: 1px solid #d02d00;
}
#header input[type="button"]{
	width: 50px;
	height: 30px;
	line-height: 30px;
	border: none;
	background-color: #d02d00;
	color: white;
}
.navigator{
	height: 1.8em;
	line-height: 1.8em;
	font-size: 1.3em;
}
.navigator li{
	display: inline-block;
	position: relative;
	z-index: 2
}
.navigator li a{

	margin-right: 3em;
	transition:color 0.4s ease;
}
.navigator .subitem{
	display: none;
	width: 311px;
	height: 200px;
	border: 1px solid #999;
	background-color: #eee;
	position: absolute;
	left: 0px;
}
.subitem  dt{
	float: left;
	padding-right: 13px;
	width: 50px;
	font-weight: bold;
}
.subitem dd{
	float: left;
	margin-left: 8px;
	width: 240px;
}
.subitem dd em{
	float: left;
	width: 60px;
}

/*main content section, 3 cloumn layout*/

.wrapper{
	width: 1190px;

	margin: 0 auto;
	text-align:left;
}
.content .primary{
	width: 855px;
	float: right;
	display: inline;
	overflow: hidden;
}
.content>.secondary{
	width: 305px;
	float: left;
	display: inline;
	border:1px solid #d02d00;
	padding-left: 10px;
}
.content .primary .primary{
	width: 550px;
	float: left;
	display: inline;
}
.content .primary .secondary{
	width: 295px;
	margin-left: 10px;
	/*padding-right: 2.63%;*/
	float: right;
	display: inline; 
	

}
.content .secondary h3{
	background-color: #d02d00;
	color: white;
	padding-left: 10px;
	margin-left: -10px;
	margin-top: 0px;
	line-height: 2em;

}
.content .secondary p{
	font-weight: bold;
}
.content .secondary ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0px;
	
}
.content>.secondary li{
	width: 4em;
	height: 1.2em;
	margin: 8px 10px 8px 0px;
}


/*右边促销活动*/
#promotion{
	height: 176px;
}
#promotion_news{
	margin-top: 6px;
	border: 1px solid rgba(1,1,1,.3);
}
#promotion_news h5{

	border-bottom: 1px solid rgba(1,1,1,.3);
	padding: 5px 0px 5px 10px;
}
#promotion_news>ul{
	margin: 5px 0px 10px 10px;
}
#promotion_news li{
	padding-top:  3px;
	font-size: 0.8em;
}

/*下方品牌促销栏*/
#brand_discnt{
	clear: left;
	width: 798px;
	overflow: hidden;
	margin-left: 0px;
}
#brand_list{
	margin-top: 0px;
	width: 5200px;
	transition: margin-left 0.6s ease;
	font-size: 0px;
}
.brand_item{
	display: inline-block;
	margin-right: 22px;
}
.brand_item p{
	text-align: center;
	background-color: rgba(200,200,200,.618);
	padding: 1px 0px;
}
.brand_item:hover{
	background-color: rgba(200,200,200,.618);
	z-index: 2;
}
.brand_item p {
	font-size: 16px;
}

#brand_tab{
	text-align: right;
	padding: 3px 0px;
}
#brand_tab p{
	float: left;
	font-weight: bold;
}
#cata_chos{
	display: inline-block;
}
#cata_chos li{
	display: inline-block;
	margin-right: 15px;
	padding-bottom: 3px;
}
#cata_chos li a{
	padding: 1px 3px 0px 3px ;
}
#cata_chos li:last-child{
	margin-right: 0px;
}
.tabOn{
	background-color: transparent;
	background-image:  url("../images/chos.gif");
	background-repeat:  no-repeat;
	background-position: center bottom;
}
#cata_chos .tabOn a{
	background-color: #fa5889;
}